
  
  *{
    margin: 0;
    padding: 0;
    
    
font-family: Verdana; 
}
h1	{
	font-family: Verdana; 
	font-size: 35pt;         
	font-style: normal; 
	font-weight: bold; 
	color: white;
	text-align: center; 
	
}

h3	{
	font-family: Verdana; 
	font-size: 20pt;         
	font-style: normal; 
	font-weight: bold; 
	color: 	#FFCCFF;
	text-align: center; 
	animation: myfirst 5s linear 2s infinite alternate;
}

.header{

  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(16, 32, 30, 0.6),rgba(4,9,30,0.6)),url(slideimage2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
div.fristborder{
  background-color: gainsboro;
  box-sizing: 300px;
  padding: 10px 16px ;
  margin: 24px -24px;
}

nav{
    display: flex;
    padding: 2% 5%;
    align-items: center;
    justify-content: space-between;

}

nav img{
    width: 120px;
    border-radius: 10px;
    height: 80px;
}


.links ul li a{

  color:ghostwhite;
  font-size: 20px;
  text-decoration: none;
}

.links ul li{
    padding: 6px 10px;
    display: inline-block;
    list-style: none;
    position: relative;
}

.links ul li :hover{
  border-radius: 3px;
  color: gold;
width: 10px;
height: 10px;
}

.cart .fas{
  display:flex;
}

  nav .fas{
      display: none;
  }

      
  nav .far{
      display: none;
  }



  @media(max-width:700px){
      


.links ul li{
  display: block;
}
.links{
  position: absolute;
  background:transparent;
  height: 100vh;
  width: 200px;
  text-align: left;
  top: 0;
  right: -200px;
  z-index: 2;
}

  nav .fas{
      display: block;
      color:black;
      margin: 10px;
      font-size: 20px;
      cursor: pointer;
  }

  nav .far{
      display: block;
      color:black;
      margin: 10px;
      font-size: 20px;
      cursor: pointer;
  }


}

.cards{

  /*padding-top: 100px;*/
  margin-top: 300px;

}
#grad1 {
 
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, red, yellow);
}
#grad2 {
  background-image: linear-gradient(to bottom right, blue,pink);
}

form {
  display: inline-block;
  width: 600px;
  height: 600px;
  border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 0px;
	font-family: Calibri; 
	color:#000000; 
	font-size: 13pt; 
	font-style: normal;
	font-weight: bold;
	text-align: center; 
	background: #FFDB58; 
	border-collapse: collapse; 
	border: #00A36C;
  margin-bottom: 100px;
  margin-left: 30%;
}
.image{
  height: 220px;
}

button {
	font-family: Trebuchet MS;
	background-color: rgba(255, 0, 255);

	border: 5px;
	color: white;
	padding: 15px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
button:hover{
  background-color: green;
  color: white;
}
.float{
  float: right;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 400px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding-left: 500px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.foot1{
  top: 10%;
}
.footer{
  background-color: ;
  width: 100%;
  height: 250px;

}
.footer div {
  top: 150px;
  bottom:0px;
  width: 100%;
  height:100px;
  background-color: black;
  
  position: relative;
  text-align: center;
}
.footer div span{
  color: white;
  text-align: center;
  margin-top: 100px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;

}

.group input{
  background-color: white;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 15px 25px;
  border-top: none;
  border-right: none;
  border-left: none;
}
label{
  color: yellow;
}
.title{
  color: white;
  text-shadow: 10px 8px 5px solid grey;
}